*{
  margin: 0;
  padding: 0;
}
header div{
  position: relative;
}
header img{
  width: 100%;
  height: 100%;
}
header p{
    position: absolute;
    top: 67%;
    right: 47.5%;
    transform: translate(50%,0%);
    font-family: 'Ephesis', cursive;
    font-size: 30px;
    color: #242e78;
    background-color: rgba(76, 193, 186, 0.2);
}
nav{
  text-transform: capitalize;
  position: sticky;
  top: 0;
}
nav ul{
  letter-spacing: -0.25rem;
}
nav li{
  padding-top: 1%;
  background-color: brown;
  text-align: center;
  letter-spacing: normal;
  display: inline-block;
  width: calc(100%/5)
}
nav a{
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
}
h1{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Ephesis', cursive;
  font-size: 32px;
}
p{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  font-style: normal;
  font-family: arial,verdana,sans-serif;
}
#présentation div{
  width: 50%;
  float: right;
}
#présentation img{
  width: 100%;
}
#présentation p{
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 20px;
  color: #242e78;
}
h2{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Ephesis', cursive;
  clear:both;
  font-size: 32px;
}
#torréfaction div{
  width: 50%;
  float: left;
}
#torréfaction img{
  width: 100%;
}
#torréfaction p{
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 20px;
  color: #242e78;
  font-family: arial,verdana,sans-serif;
}
h3{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Ephesis', cursive;
  clear:both;
  font-size: 32px;
}
#concéption div{
  width: 50%;
  float: right;
}
#concéption img{
  width: 100%;
}
#concéption p{
  padding-left: 2.5%;
  padding-right: 2.5%;
  color: #242e78;
  font-family: arial,verdana,sans-serif;
}
h4{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Ephesis', cursive;
  clear:both;
  font-size: 32px;
}
#variétés div{
  width: 50%;
  float: left;
}
#variétés img{
  width: 100%;
}
#variétés p{
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 20px;
  color: #242e78;
  font-family: arial,verdana,sans-serif;
}
body{
  background-color: burlywood;
}
footer div{
  width: 100%;
  float: left;
  background-color: brown;
}
footer ul{
  letter-spacing: -0.25rem;
}
footer li{
  display: inline;
  text-align: center;
  font-size: 20px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  letter-spacing: normal;
}
h5{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Ephesis', cursive;
  font-size: 32px;
  letter-spacing: normal;
}
#article{
    letter-spacing: -0.25rem;
}
#article div{
  padding-left: 2.5%;
  padding-right: 2.5%;
  box-sizing: border-box;
  width: calc(100%/3);
  display: inline-block;
  letter-spacing: normal;
}
#article img{
  width: 100%;
}
#article p{
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 20px;
  color: #242e78;
  font-family: arial,verdana,sans-serif;
}
.cafeamericain{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Ephesis', cursive;
}
.macc{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Ephesis', cursive;
}
.cap{
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Ephesis', cursive;
}
.sous{
  margin-top: 1.61%;
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: brown;
  position: absolute;
  width: 100%;
}
nav> ul li:hover .sous{
  display: block;
}
.sous li{
  margin: -2%;
  float: none;
  width: 100%;
  text-align: left;
}
.deroulant > a::after {
  content: " ▼";
  font size : 12px;
}
.sous a{
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: rgba(200, 200, 200, 0.1);
}

nav ul li{
  float: left;
  text-align: center;
  position: relative;
}
